@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
    <p>If you used an external login provider and you are using a public PC, don`t forget to head over to that provider and log out on their page as well!</p>
</header>