@model TransactionAmountModel

<h1>Überweisung durchgeführt.</h1>
<br />
<p>Sie haben erfolgreich @this.Model.Amount Geldeinheiten vom Konto <i>@this.Model.SourceBankAccount</i> auf das Konto <i>@this.Model.DestinationBankAccount</i> überwiesen!</p>
<p>Wenn Sie auf dieser Seite gelandet sind, haben Sie die simulierte Überweisung mit den angegebenen Daten korrekt ausgeführt.</p>

<p><b>@Model.RedirectionMessage</b></p>

